body, html {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.topnav {
  width: 100%;
  height: 38px;
  background-color: #2b2b2b;
  box-sizing: border-box;
}

.topnav .topnav_left {
  float: left;
  height: 38px;
}

.topnav .topnav_left ul li {
  height: 100%;
  float: left;
}

.topnav .topnav_left ul li a {
  margin: 0 10px;
  color: #bdbdbd;
  font-size: 14px;
  line-height: 38px;
}

.topnav .topnav_left ul li a:hover {
  color: #e9a804;
}

.topnav .topnav_left ul li a img {
  vertical-align: middle;
}

.topnav .topnav_right {
  float: right;
  height: 38px;
}

.topnav .topnav_right ul li {
  position: relative;
  height: 100%;
  float: left;
}

.topnav .topnav_right ul li a {
  margin: 0 13px;
  color: #bdbdbd;
  font-size: 14px;
  line-height: 38px;
}

.topnav .topnav_right ul li a:hover {
  color: #e9a804;
}

.topnav .topnav_right ul li ol {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.topnav .topnav_right ul li ol li {
  width: 100%;
  text-align: center;
  line-height: 24px;
  color: #7f6666;
  font-size: 14px;
  background-color: whitesmoke;
}

.topnav .topnav_right ul li ol li:hover {
  background-color: #f3ef17;
}

.topnav .topnav_right ul li:nth-child(3):hover {
  background-color: whitesmoke;
}

.topnav .topnav_right ul li:nth-child(3):hover a {
  color: black;
}

.topnav .topnav_right ul li:nth-child(3):hover ol {
  display: block;
}

.topnav .topnav_right ul li img {
  position: absolute;
  left: -50px;
  width: 150px;
  bottom: -150px;
  display: none;
  z-index: 2;
}

.topnav .topnav_right ul li:nth-child(3) a {
  margin: 0 8px;
  padding-right: 10px;
  background-image: url(../images/jt_buttonsht.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.topnav .topnav_right ul li:nth-child(4) a {
  padding-left: 15px;
  background-image: url(../images/sjy.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.topnav .topnav_right ul li:nth-child(5) a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/xcx_code_2.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topnav .topnav_right ul li:nth-child(5):hover a {
  background-image: url(../images/xcx_code_3.png);
}

.topnav .topnav_right ul li:nth-child(6) a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/wb.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topnav .topnav_right ul li:nth-child(7) a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/wx.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topnav .topnav_right ul li:nth-child(7):hover a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/wxy.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topseach {
  width: 100%;
  height: 150px;
  background-color: #333333;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #414141;
  border-top: 1px solid #414141;
}

.topseach .topseach_left {
  height: 100%;
  float: left;
}

.topseach .topseach_right {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.topseach .topseach_right div {
  display: inline-block;
}

.topseach .topseach_right div:nth-child(1) {
  position: relative;
  margin-right: 20px;
}

.topseach .topseach_right div:nth-child(1) a {
  padding: 0 13px;
  color: #dab508;
  font-size: 18px;
  border: none;
  background-color: #333333;
  background-image: url(../images/jt_button.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.topseach .topseach_right div:nth-child(1) ul {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 3;
}

.topseach .topseach_right div:nth-child(1) ul li {
  background-color: white;
  line-height: 30px;
  font-size: 14px;
  color: #272424;
  text-align: center;
}

.topseach .topseach_right div:nth-child(1) ul li:hover {
  background-color: #dab508;
  color: white;
}

.topseach .topseach_right div:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
  border: 2px solid #dab508;
}

.topseach .topseach_right div:nth-child(2) > div {
  position: relative;
}

.topseach .topseach_right div:nth-child(2) > div a {
  padding: 0 15px;
  color: #ccc;
  font-size: 18px;
  line-height: 45px;
  background-image: url(../images/jt_buttonsht.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.topseach .topseach_right div:nth-child(2) > div ul {
  position: absolute;
  left: 0;
  bottom: -210px;
  display: none;
  width: 75px;
  z-index: 3;
}

.topseach .topseach_right div:nth-child(2) > div ul li {
  background-color: white;
  line-height: 30px;
  font-size: 14px;
  color: #221d1d;
  text-align: center;
}

.topseach .topseach_right div:nth-child(2) > div ul li:hover {
  background-color: #dab508;
  color: white;
}

.topseach .topseach_right div:nth-child(2) input {
  width: 465px;
  height: 100%;
  border: none;
  font-size: 18px;
  color: white;
  margin-left: 10px;
  background-color: #333333;
}

.topseach .topseach_right div:nth-child(2) button {
  height: 100%;
  width: 160px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  background-color: #dab508;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus {
  display: none;
  position: absolute;
  left: -22px;
  bottom: -223px;
  width: 563px;
  height: 222px;
  padding: 5px;
  padding-left: 20px;
  background-color: #f8f8f8;
  z-index: 3;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span {
  display: inline-block;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span b {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 10px 0;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span p {
  margin: 10px 0;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span p a {
  float: left;
  padding: 0;
  margin-right: 10px;
  font-size: 14px;
  color: #414141;
  line-height: 20px;
  background-image: none;
}

.topseach .topseach_right div:nth-child(3) {
  position: relative;
  box-sizing: border-box;
  height: 45px;
  margin-left: 20px;
}

.topseach .topseach_right div:nth-child(3) p {
  color: #bdbdbd;
  font-size: 14px;
}

.topseach .topseach_right div:nth-child(3) i {
  float: left;
  margin-top: 9px;
  color: #dab508;
  font-size: 20px;
}

.topseach .topseach_right div:nth-child(3) img {
  position: absolute;
  bottom: -63px;
  right: -98px;
  z-index: 2;
  animation: topseach_rightimg 3s linear 2s infinite alternate;
}

@keyframes topseach_rightimg {
  0% {
    transform: rotate(15deg);
  }
  45% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.topnavlist {
  position: relative;
  width: 100%;
  height: 65px;
  background-color: #1f1f1f;
}

.topnavlist .topnavlist_nav {
  height: 65px;
  box-sizing: border-box;
}

.topnavlist .topnavlist_nav #nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.topnavlist .topnavlist_nav #nav ul.nav {
  display: inline-flex;
  flex: 1;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item {
  flex: 1;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item a i {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-image: url(../images/jt_buttonsht.png);
  background-repeat: no-repeat;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item .subMenu {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  background-color: #f3e6e6;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item .subMenu ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item .subMenu ul li > a {
  display: block;
  padding: 0 18px;
  text-align: center;
  line-height: 50px;
  color: #1b1717;
  font-size: 14px;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item .subMenu ul li > a:hover {
  color: #ff9d00;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item:nth-last-child(3) a {
  color: #f1cc10;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item > a {
  display: block;
  text-align: center;
  line-height: 65px;
  font-size: 18px;
  color: #f1f4f1;
  position: relative;
}

.topnavlist .topnavlist_nav #nav ul.nav li.navhover > a::before {
  display: none;
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #f1f4f1;
  position: absolute;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item:hover > a,
.topnavlist .topnavlist_nav #nav ul.nav li.nav-item.active > a {
  color: #f1cc10;
}

.topnavlist .topnavlist_nav #nav ul.nav li.navhover:hover > a::before,
.topnavlist .topnavlist_nav #nav ul.nav li.nav-item.active > a::before {
  display: block;
}

.topsrdzimg {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-image: url(../images/waresimg/dzy_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.topsrdzimg .topsrdzFlex {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.topsrdzimg .topsrdzFlex span {
  display: inline-block;
  font-size: 25px;
  text-align: center;
  margin: 0 185px;
  color: white;
  width: 175px;
  height: 45px;
  line-height: 45px;
  border-radius: 4px;
  background-color: #ff6600;
}

.topsrdzimg .topsrdzFlex span:hover {
  background-color: #ffaf22;
}

.topImgnav {
  width: 100%;
  height: 358px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.topImgnav span {
  display: inline-block;
  height: 45%;
  width: 154px;
  font-size: 18px;
  color: #666;
  line-height: 340px;
  background-image: url(../images/dzy_topicon.png);
  background-repeat: no-repeat;
  background-position: 6px 0;
}

.topImgnav span:nth-child(2n) {
  height: 14px;
  margin: 0 15px;
  background-position: -386px -155px;
}

.topImgnav span:nth-child(3) {
  background-position: -154px 0px;
}

.topImgnav span:nth-child(5) {
  background-position: -310px 0px;
}

.topImgnav span:nth-child(7) {
  background-position: -465px 0px;
}

.mhty {
  width: 100%;
  background-image: url(../images/waresimg/dzy_mhtyBgimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding: 40px 0;
  padding-bottom: 80px;
}

.mhty .mhtybox_top {
  width: 100%;
  height: 30px;
  font-size: 35px;
  margin: 30px 0;
  text-align: center;
}

.mhty .mhtybox_top i {
  display: inline-block;
  font-size: 16px;
  color: #f60;
  height: 10px;
  line-height: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 10px;
  border: 1px solid #ff6600;
}

.mhty .mhtybox_list {
  width: 100%;
  overflow: hidden;
}

.mhty .mhtybox_list ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mhty .mhtybox_list ul:nth-child(2) {
  margin-top: 40px;
}

.mhty .mhtybox_list ul li {
  width: 23%;
  cursor: pointer;
  box-sizing: border-box;
}

.mhty .mhtybox_list ul li span {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 55%;
  overflow: hidden;
}

.mhty .mhtybox_list ul li span img {
  width: 100%;
  height: 100%;
}

.mhty .mhtybox_list ul li span div {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 14px;
  line-height: 2;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 1s;
}

.mhty .mhtybox_list ul li span div i {
  display: inline-block;
  margin-top: 20px;
}

.mhty .mhtybox_list ul li span:nth-child(2) {
  height: 45%;
  background-color: #fff;
  box-sizing: border-box;
}

.mhty .mhtybox_list ul li span:nth-child(2) p {
  height: 45%;
  width: 100%;
  line-height: 28px;
  font-size: 18px;
  color: #333;
  padding: 5px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.mhty .mhtybox_list ul li span:nth-child(2) small {
  display: inline-block;
  height: 55%;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
}

.mhty .mhtybox_list ul li span:nth-child(2) small i {
  display: block;
  font-size: 14px;
  color: #414141;
  margin: 15px 0;
  box-sizing: border-box;
}

.mhty .mhtybox_list ul li span:nth-child(2) small s {
  display: inline-block;
  font-size: 14px;
  color: #414141;
}

.mhty .mhtybox_list ul li span:nth-child(2) small b {
  float: right;
  font-size: 20px;
  color: #fe757f;
  font-weight: normal;
}

.mhty .mhtybox_list ul li:hover div {
  transition: 1s;
  top: 0;
}

.zywx {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
  background-color: #fff;
}

.zywx .zywx_top {
  width: 100%;
  line-height: 2;
  font-size: 35px;
  text-align: center;
  margin: 10px 0;
}

.zywx .zywx_listbox {
  width: 100%;
  overflow: hidden;
}

.zywx .zywx_listbox ul {
  width: 100%;
}

.zywx .zywx_listbox ul li {
  float: left;
  width: 210px;
  height: 280px;
  margin-left: 20px;
  margin-top: 20px;
}

.zywx .zywx_listbox ul li:nth-child(1), .zywx .zywx_listbox ul li:nth-child(7) {
  margin-left: 0;
}

.zywx .zywx_listbox ul li a {
  display: inline-block;
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.zywx .zywx_listbox ul li a img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

.zywx .zywx_listbox ul li a:hover img {
  transition: 1s;
  transform: scale(1.2);
}

.zywx .zywx_listbox ul li span {
  display: inline-block;
  width: 100%;
  height: 25%;
}

.zywx .zywx_listbox ul li span small {
  display: block;
  font-size: 16px;
  color: #414141;
  line-height: 28px;
}

.cgal {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
  background-color: #f6f6f6;
}

.cgal .cgaltopname {
  width: 100%;
  font-size: 35px;
  text-align: center;
  margin-top: 25px;
}

.cgal .cgallistBox {
  width: 100%;
  overflow: hidden;
}

.cgal .cgallistBox .cgallist {
  width: 100%;
  margin-top: 30px;
}

.cgal .cgallistBox .cgallist .cgallist_nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
}

.cgal .cgallistBox .cgallist .cgallist_nav span {
  display: inline-block;
  height: 100%;
  font-size: 24px;
  padding-right: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #666;
}

.cgal .cgallistBox .cgallist ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cgal .cgallistBox .cgallist ul li {
  position: relative;
  float: left;
  width: 24%;
  height: 280px;
  margin-top: 20px;
  background-color: #fff;
}

.cgal .cgallistBox .cgallist ul li a {
  display: inline-block;
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.cgal .cgallistBox .cgallist ul li a img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

.cgal .cgallistBox .cgallist ul li a:hover img {
  transition: 1s;
  transform: scale(1.2);
}

.cgal .cgallistBox .cgallist ul li span {
  display: inline-block;
  width: 100%;
  height: 25%;
  padding-top: 5px;
  box-sizing: border-box;
}

.cgal .cgallistBox .cgallist ul li span small {
  display: block;
  font-size: 16px;
  color: #414141;
  line-height: 28px;
  padding: 0 15px;
  box-sizing: border-box;
}

.cgal .cgallistBox .cgallist ul li i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  color: #f8f8f8;
  background-color: rgba(0, 0, 0, 0.4);
}

.xzyxk {
  width: 100%;
  padding-top: 20px;
  margin-top: 50px;
  overflow: hidden;
  background-color: #585858;
}

.xzyxk .xzyxkName {
  width: 100%;
  font-size: 35px;
  text-align: center;
  margin-top: 25px;
  color: white;
}

.xzyxk .xzyxklist {
  width: 100%;
  padding: 20px 0;
}

.xzyxk .xzyxklist ul {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.xzyxk .xzyxklist ul li {
  width: 110px;
  height: 105px;
  background-image: url(../images/dzy_company.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.xzyxk .xzyxklist ul li:hover {
  background-position: 0px -115px;
}

.xzyxk .xzyxklist ul li:nth-child(2) {
  background-position: -110px 0;
}

.xzyxk .xzyxklist ul li:nth-child(2):hover {
  background-position: -110px -115px;
}

.xzyxk .xzyxklist ul li:nth-child(3) {
  background-position: -220px 0;
}

.xzyxk .xzyxklist ul li:nth-child(3):hover {
  background-position: -220px -115px;
}

.xzyxk .xzyxklist ul li:nth-child(4) {
  background-position: -330px 0;
}

.xzyxk .xzyxklist ul li:nth-child(4):hover {
  background-position: -330px -115px;
}

.xzyxk .xzyxklist ul li:nth-child(5) {
  background-position: -444px 0;
}

.xzyxk .xzyxklist ul li:nth-child(5):hover {
  background-position: -444px -115px;
}

.xzyxk .xzyxklist ul li:nth-child(6) {
  background-position: -555px 0;
}

.xzyxk .xzyxklist ul li:nth-child(6):hover {
  background-position: -555px -115px;
}

.xzyxk .xzyxklist ul li:nth-child(7) {
  background-position: -670px 0;
}

.xzyxk .xzyxklist ul li:nth-child(7):hover {
  background-position: -670px -115px;
}

.xzyxk .xzyxklist ul li:nth-child(8) {
  background-position: -788px 0;
}

.xzyxk .xzyxklist ul li:nth-child(8):hover {
  background-position: -788px -115px;
}

.wdys {
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
  background-color: #fff;
}

.wdys .wdysName {
  width: 100%;
  margin-top: 25px;
  color: #252424;
  text-align: center;
}

.wdys .wdysName span {
  display: block;
  font-size: 35px;
  text-align: center;
}

.wdys .wdysName span:nth-child(2) {
  margin: 20px auto;
  width: 200px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  border: 1px solid #2b2b2b;
}

.wdys ul {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

.wdys ul li {
  width: 24%;
  height: 105px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.wdys ul li span {
  display: inline-block;
  font-size: 16px;
  color: #2b2b2b;
  line-height: 20px;
  margin-left: 20px;
}

.wdys ul li i {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url(../images/dzy_topicon.png);
  background-repeat: no-repeat;
  background-position: 3px -155px;
}

.wdys ul li:nth-child(2) i {
  background-position: -94px -155px;
}

.wdys ul li:nth-child(3) i {
  background-position: -191px -155px;
}

.wdys ul li:nth-child(4) {
  background-position: -300px -155px;
}

footer {
  overflow: hidden;
}

footer .footer_boton {
  width: 100%;
  background-color: #3c3c3c;
}

footer .footer_boton .footer_botonlst2 {
  width: 100%;
  height: 200px;
  border-top: 1px solid #949191;
  border-bottom: 1px solid #949191;
  display: flex;
  align-items: center;
}

footer .footer_boton .footer_botonlst2 span {
  float: left;
}

footer .footer_boton .footer_botonlst2 span:nth-child(2) {
  float: right;
  width: 70%;
}

footer .footer_boton .footer_botonlst2 span:nth-child(2) h3 {
  float: left;
  width: 140px;
  height: 100%;
  line-height: 30px;
  text-align: center;
  color: #ffba00;
  font-size: 15px;
}

footer .footer_boton .footer_botonlst2 span:nth-child(2) img {
  width: 80px;
}

footer .footer_boton .footer_botonlst2 span p {
  display: inline-block;
  width: 100%;
  line-height: 24px;
  color: #bbb;
}

footer .footer_boton .footer_botonlst2 span p a {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #bbb;
}

footer .footer_boton .footer_botonlst2 span p a:hover {
  color: white;
}

footer .footer_boton .footer_botonlst3 {
  width: 100%;
  height: 215px;
  display: flex;
  justify-content: center;
}

footer .footer_boton .footer_botonlst3 span {
  display: inline-block;
  margin-top: 40px;
  width: 60%;
}

footer .footer_boton .footer_botonlst3 span a {
  display: inline-block;
  margin-right: 6px;
}

footer .footer_boton .footer_botonlst3 span a i {
  display: inline-block;
  width: 116px;
  height: 47px;
  background-image: url(../images/footer_lastimg1.jpg);
  background-repeat: no-repeat;
  background-position: -133px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(2) i {
  background-position: -253px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(3) i {
  background-position: -375px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(4) i {
  background-image: url(../images/footer_lastimg2.png);
  background-position: 0 0;
  background-size: cover;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(5) i {
  background-position: -495 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(6) i {
  width: 54px;
  background-position: -611px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(7) i {
  width: 49px;
  background-position: -671px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(8) i {
  background-image: url(../images/footer_lastimg3.png);
  background-position: 0 0;
  background-size: cover;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(9) i {
  margin-top: 6px;
  background-position: 0 0;
}

.right_flex {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: #2b2b2b;
  z-index: 2;
}

.right_flex ul {
  position: absolute;
  right: 0;
  top: 10%;
  width: 100%;
}

.right_flex ul li {
  position: relative;
  width: 100%;
  height: 40px;
  float: left;
  border-top: 1px solid #ccc;
  background-image: url(../images/right_fleximg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.right_flex ul li span {
  display: inline-block;
  display: none;
  position: absolute;
  left: -92px;
  top: 0;
  height: 100%;
  width: 90px;
  line-height: 40px;
  text-align: center;
  color: #e99605;
  font-size: 14px;
  background-color: #333333;
  border-left: 2px solid #ff9d00;
}

.right_flex ul li i {
  display: inline-block;
  display: none;
  position: absolute;
  left: -175px;
  top: -114px;
}

.right_flex ul li:hover span, .right_flex ul li:hover i {
  display: block;
}

.right_flex ul li:nth-child(1) {
  background-position: 8px -505px;
  height: 115px;
}

.right_flex ul li:nth-child(1):hover {
  background-position: -47px -505px;
}

.right_flex ul li:nth-child(2) {
  background-image: url(../images/right_fleximg2.gif);
  background-position: 10px 10px;
}

.right_flex ul li:nth-child(2):hover {
  background-image: url(../images/right_fleximg.png);
  background-position: -49px -137px;
}

.right_flex ul li:nth-child(3) {
  background-position: 8px -730px;
}

.right_flex ul li:nth-child(3):hover {
  background-position: -50px -730px;
}

.right_flex ul li:nth-child(4) {
  background-position: 8px -374px;
}

.right_flex ul li:nth-child(4):hover {
  background-position: -51px -374px;
}

.right_flex ul li:nth-child(5) {
  background-position: 9px -196px;
}

.right_flex ul li:nth-child(5):hover {
  background-position: -52px -196px;
}

.right_flex ul li:nth-child(6) {
  background-position: 9px -313px;
}

.right_flex ul li:nth-child(6):hover {
  background-position: -51px -313px;
}

.right_flex ul li:nth-child(7) {
  background-position: 8px -257px;
  border-bottom: 1px solid #ccc;
}

.right_flex ul li:nth-child(7):hover {
  background-position: -51px -257px;
}

.right_flex ol {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.right_flex ol li {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  float: left;
  color: #ff9d00;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #ccc;
  background-image: url(../images/right_fleximg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.right_flex ol li span {
  display: inline-block;
  display: none;
  position: absolute;
  left: -92px;
  top: 0;
  height: 100%;
  width: 90px;
  line-height: 40px;
  text-align: center;
  color: #e99605;
  font-size: 14px;
  background-color: #333333;
  border-left: 2px solid #ff9d00;
}

.right_flex ol li i {
  display: inline-block;
  display: none;
  position: absolute;
  left: -175px;
  top: -114px;
}

.right_flex ol li:hover span, .right_flex ol li:hover i {
  display: block;
}

.right_flex ol li:nth-child(1) {
  background-position: 8px -807px;
}

.right_flex ol li:nth-child(1):hover {
  background-position: -49px -807px;
}

.right_flex ol li:nth-child(3) {
  background-position: 10px -439px;
}

.right_flex ol li:nth-child(3):hover {
  background-position: -51px -439px;
}

.botton_new {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.botton_new .botton_newbcimg {
  float: left;
  width: 50%;
  height: 200px;
  background-image: url(../images/newcoupon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.botton_new .botton_new_inputs {
  float: left;
  height: 200px;
  width: 240px;
}

.botton_new .botton_new_inputs span {
  display: block;
  width: 240px;
  height: 40px;
  border-radius: 10px 10px;
  box-sizing: border-box;
  padding: 5px 0;
  overflow: hidden;
  background-color: #ffffff;
}

.botton_new .botton_new_inputs span:nth-child(1) {
  margin-top: 25px;
}

.botton_new .botton_new_inputs span:nth-child(2) {
  margin: 15px 0px;
}

.botton_new .botton_new_inputs span input {
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 16px;
  border: none;
  padding-left: 10px;
  box-sizing: border-box;
}

.botton_new .botton_new_inputs span:nth-child(2) input {
  width: 55%;
  height: 100%;
  color: #333;
  font-size: 16px;
}

.botton_new .botton_new_inputs span:nth-child(2) button {
  height: 100%;
  color: #333;
  font-size: 16px;
  width: 45%;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-left: 1px solid #bbb;
}

.botton_new .botton_new_inputs span:nth-child(3) {
  background-color: #ffd800;
  color: #333;
  font-size: 16px;
  text-align: center;
  line-height: 31px;
  cursor: pointer;
}

.botton_new .botton_new_hidehover {
  float: right;
  overflow: hidden;
  margin-top: 10px;
}

.botton_new .botton_new_hidehover i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/newXX.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.botton_new .botton_new_hidehover i:hover {
  transform: rotate(-145deg);
  transition: 0.5s;
}

.botton_new .botton_new_out {
  position: fixed;
  display: none;
  width: 300px;
  height: 80px;
  line-height: 80px;
  color: #f9fafb;
  font-size: 24px;
  font-weight: lighter;
  border-radius: 12px;
  background-color: #a2a3a3;
  top: 46%;
  left: 40%;
  text-align: center;
}

.left_loge {
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
