body, html {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.topnav {
  width: 100%;
  height: 38px;
  background-color: #2b2b2b;
  box-sizing: border-box;
}

.topnav .topnav_left {
  float: left;
  height: 38px;
}

.topnav .topnav_left ul li {
  height: 100%;
  float: left;
}

.topnav .topnav_left ul li a {
  margin: 0 10px;
  color: #bdbdbd;
  font-size: 14px;
  line-height: 38px;
}

.topnav .topnav_left ul li a:hover {
  color: #e9a804;
}

.topnav .topnav_left ul li a img {
  vertical-align: middle;
}

.topnav .topnav_right {
  float: right;
  height: 38px;
}

.topnav .topnav_right ul li {
  position: relative;
  height: 100%;
  float: left;
}

.topnav .topnav_right ul li a {
  margin: 0 13px;
  color: #bdbdbd;
  font-size: 14px;
  line-height: 38px;
}

.topnav .topnav_right ul li a:hover {
  color: #e9a804;
}

.topnav .topnav_right ul li ol {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.topnav .topnav_right ul li ol li {
  width: 100%;
  text-align: center;
  line-height: 24px;
  color: #7f6666;
  font-size: 14px;
  background-color: whitesmoke;
}

.topnav .topnav_right ul li ol li:hover {
  background-color: #f3ef17;
}

.topnav .topnav_right ul li:nth-child(3):hover {
  background-color: whitesmoke;
}

.topnav .topnav_right ul li:nth-child(3):hover a {
  color: black;
}

.topnav .topnav_right ul li:nth-child(3):hover ol {
  display: block;
}

.topnav .topnav_right ul li img {
  position: absolute;
  left: -50px;
  width: 150px;
  bottom: -150px;
  display: none;
  z-index: 2;
}

.topnav .topnav_right ul li:nth-child(3) a {
  margin: 0 8px;
  padding-right: 10px;
  background-image: url(../images/jt_buttonsht.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.topnav .topnav_right ul li:nth-child(4) a {
  padding-left: 15px;
  background-image: url(../images/sjy.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.topnav .topnav_right ul li:nth-child(5) a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/xcx_code_2.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topnav .topnav_right ul li:nth-child(5):hover a {
  background-image: url(../images/xcx_code_3.png);
}

.topnav .topnav_right ul li:nth-child(6) a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/wb.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topnav .topnav_right ul li:nth-child(7) a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/wx.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topnav .topnav_right ul li:nth-child(7):hover a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/wxy.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topseach {
  width: 100%;
  height: 150px;
  background-color: #333333;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #414141;
  border-top: 1px solid #414141;
}

.topseach .topseach_left {
  height: 100%;
  float: left;
}

.topseach .topseach_right {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}

.topseach .topseach_right div {
  display: inline-block;
}

.topseach .topseach_right div:nth-child(1) {
  position: relative;
  margin-right: 20px;
}

.topseach .topseach_right div:nth-child(1) a {
  padding: 0 13px;
  color: #dab508;
  font-size: 18px;
  border: none;
  background-color: #333333;
  background-image: url(../images/jt_button.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.topseach .topseach_right div:nth-child(1) ul {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 3;
}

.topseach .topseach_right div:nth-child(1) ul li {
  background-color: white;
  line-height: 30px;
  font-size: 14px;
  color: #272424;
  text-align: center;
}

.topseach .topseach_right div:nth-child(1) ul li:hover {
  background-color: #dab508;
  color: white;
}

.topseach .topseach_right div:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
  border: 2px solid #dab508;
}

.topseach .topseach_right div:nth-child(2) > div {
  position: relative;
}

.topseach .topseach_right div:nth-child(2) > div a {
  padding: 0 15px;
  color: #ccc;
  font-size: 18px;
  line-height: 45px;
  background-image: url(../images/jt_buttonsht.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.topseach .topseach_right div:nth-child(2) > div ul {
  position: absolute;
  left: 0;
  bottom: -210px;
  display: none;
  width: 75px;
  z-index: 3;
}

.topseach .topseach_right div:nth-child(2) > div ul li {
  background-color: white;
  line-height: 30px;
  font-size: 14px;
  color: #221d1d;
  text-align: center;
}

.topseach .topseach_right div:nth-child(2) > div ul li:hover {
  background-color: #dab508;
  color: white;
}

.topseach .topseach_right div:nth-child(2) input {
  width: 465px;
  height: 100%;
  border: none;
  font-size: 18px;
  color: white;
  margin-left: 10px;
  background-color: #333333;
}

.topseach .topseach_right div:nth-child(2) button {
  height: 100%;
  width: 160px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  background-color: #dab508;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus {
  display: none;
  position: absolute;
  left: -22px;
  bottom: -223px;
  width: 563px;
  height: 222px;
  padding: 5px;
  padding-left: 20px;
  background-color: #f8f8f8;
  z-index: 3;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span {
  display: inline-block;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span b {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 10px 0;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span p {
  margin: 10px 0;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span p a {
  float: left;
  padding: 0;
  margin-right: 10px;
  font-size: 14px;
  color: #414141;
  line-height: 20px;
  background-image: none;
}

.topseach .topseach_right div:nth-child(3) {
  position: relative;
  box-sizing: border-box;
  height: 45px;
  margin-left: 20px;
}

.topseach .topseach_right div:nth-child(3) p {
  color: #bdbdbd;
  font-size: 14px;
}

.topseach .topseach_right div:nth-child(3) i {
  float: left;
  margin-top: 9px;
  color: #dab508;
  font-size: 20px;
}

.topseach .topseach_right div:nth-child(3) img {
  position: absolute;
  bottom: -63px;
  right: -98px;
  z-index: 2;
  animation: topseach_rightimg 3s linear 2s infinite alternate;
}

@keyframes topseach_rightimg {
  0% {
    transform: rotate(15deg);
  }
  45% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.topnavlist {
  position: relative;
  width: 100%;
  height: 65px;
  background-color: #1f1f1f;
}

.topnavlist .topnavlist_nav {
  height: 65px;
  box-sizing: border-box;
}

.topnavlist .topnavlist_nav #nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.topnavlist .topnavlist_nav #nav ul.nav {
  display: inline-flex;
  flex: 1;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item {
  flex: 1;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item a i {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-image: url(../images/jt_buttonsht.png);
  background-repeat: no-repeat;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item .subMenu {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  background-color: #f3e6e6;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item .subMenu ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item .subMenu ul li > a {
  display: block;
  padding: 0 18px;
  text-align: center;
  line-height: 50px;
  color: #1b1717;
  font-size: 14px;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item .subMenu ul li > a:hover {
  color: #ff9d00;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item:nth-child(5) a {
  color: #f1cc10;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item > a {
  display: block;
  text-align: center;
  line-height: 65px;
  font-size: 18px;
  color: #f1f4f1;
  position: relative;
}

.topnavlist .topnavlist_nav #nav ul.nav li.navhover > a::before {
  display: none;
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #f1f4f1;
  position: absolute;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item:hover > a,
.topnavlist .topnavlist_nav #nav ul.nav li.nav-item.active > a {
  color: #f1cc10;
}

.topnavlist .topnavlist_nav #nav ul.nav li.navhover:hover > a::before,
.topnavlist .topnavlist_nav #nav ul.nav li.nav-item.active > a::before {
  display: block;
}

.top_overBox {
  width: 100%;
  overflow: hidden;
}

.top_overBox .top_overleft {
  float: left;
  width: 25%;
  overflow: hidden;
  background-color: #4b4545;
}

.top_overBox .top_overleft div {
  width: 70%;
  height: 70px;
  margin: 0 auto;
  background-image: url(../images/glx_topnoverBGimg.png);
  background-repeat: no-repeat;
  background-position: -146px -146px;
}

.top_overBox .top_overleft div:nth-child(2) {
  height: 25px;
  background-position: -155px -146px;
}

.top_overBox .top_overleft div:nth-child(3) {
  height: 86px;
  background-position: -143px -219px;
}

.top_overBox .top_overleft div:nth-child(4) {
  height: 5px;
  margin: 20px auto;
  background-position: -85px -145px;
}

.top_overBox .top_overleft div:nth-child(5) {
  height: 75px;
  background-image: none;
}

.top_overBox .top_overleft div:nth-child(5) ul {
  width: 100%;
}

.top_overBox .top_overleft div:nth-child(5) ul li {
  width: 100%;
  font-size: 13px;
  color: #e4e4e4;
  line-height: 25px;
  padding-left: 27px;
  box-sizing: border-box;
}

.top_overBox .top_overleft div:nth-child(6) {
  height: 5px;
  margin: 20px auto;
  background-position: -123px -145px;
}

.top_overBox .top_overleft div:nth-child(7) {
  height: 40px;
  margin: 20px 0;
  background-position: -300px -3px;
}

.top_overBox .top_overleft div:nth-child(7) span {
  display: block;
  font-size: 13px;
  color: #e4e4e4;
  padding-left: 121px;
  line-height: 22px;
  box-sizing: border-box;
}

.top_overBox .top_overleft div:nth-child(7) span:nth-child(2):hover {
  color: #ff9d00;
}

.top_overBox .top_overright {
  float: left;
  width: 75%;
  height: 406px;
  overflow: hidden;
}

.top_overBox .top_overright .swiper-container {
  width: 100%;
  height: 100%;
}

.top_overBox .top_overright .swiper-container .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

.top_overBox .top_overright .swiper-container .swiper-button-prev::after, .top_overBox .top_overright .swiper-container .swiper-button-next::after {
  content: none;
}

.top_overBox .top_overright .swiper-container .swiper-button-prev {
  display: none;
  left: 60px;
  width: 40px;
  height: 80px;
  background-image: url(../images/glx_topoverZYbgimg.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.top_overBox .top_overright .swiper-container .swiper-button-next {
  display: none;
  right: 60px;
  width: 40px;
  height: 80px;
  background-image: url(../images/glx_topoverZYbgimg.png);
  background-repeat: no-repeat;
  background-position: -40px 0px;
}

.top_overBox .top_overright .swiper-container .swiper-pagination {
  bottom: 0;
  text-align: right;
  padding-right: 50px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
}

.top_overBox .top_overright .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 15px 8px;
  background-color: #f8f8f8;
  border: 1px solid white;
  opacity: 0.7;
}

.top_overBox .top_overright .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffcc00;
  opacity: 1;
}

.mains {
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
}

.mains .mains_left {
  float: left;
  width: 25%;
}

.mains .mains_left .mains_leftListTop {
  width: 100%;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_nav {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_nav span {
  font-size: 18px;
  color: #4f4f4f;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_nav ul {
  float: right;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_nav ul li {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  padding: 0 3px;
  color: #4b4545;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_nav ul .m_l_n_hover {
  color: white;
  background-color: #ffcc00;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-top: 2px solid #e99605;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenImglist {
  width: 100%;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenImglist li {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenImglist li a {
  float: left;
  width: 48%;
  height: 100%;
  overflow: hidden;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenImglist li a img {
  width: 100%;
  height: 100%;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenImglist li span {
  float: right;
  width: 50%;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenImglist li span p {
  font-size: 14px;
  color: #272424;
  line-height: 1.5;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenImglist li span p:hover {
  color: #f1cc10;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenImglist li span i {
  position: relative;
  float: right;
  width: 50px;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  background-color: #f7f7f7;
  color: #272424;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenImglist li span i::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 15px;
  width: 15px;
  height: 15px;
  background-image: url(../images/glx_topnoverBGimg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenTextlist {
  width: 100%;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenTextlist li {
  width: 100%;
  height: 20px;
  overflow: hidden;
  margin: 20px 0;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenTextlist li s {
  float: left;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  color: #f1f4f1;
  margin-right: 5px;
  background-color: #7e7b7b;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenTextlist li p {
  float: left;
  width: 90%;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  font-size: 14px;
  color: #4b4545;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.mains .mains_left .mains_leftListTop .mains_leftListTop_conten .mains_leftListTop_contenTextlist li p:hover {
  color: #f1cc10;
}

.mains .mains_left .mains_leftListLoge {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-top: 30px;
}

.mains .mains_left .mains_leftListLoge img {
  width: 100%;
  height: 100%;
}

.mains .mains_left .mains_leftImg {
  width: 100%;
  margin-top: 20px;
}

.mains .mains_left .mains_leftImg .mains_leftImgTop {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #333;
}

.mains .mains_left .mains_leftImg .mains_leftImglist {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-top: 3px solid #e99605;
}

.mains .mains_left .mains_leftImg .mains_leftImglist ul {
  width: 100%;
}

.mains .mains_left .mains_leftImg .mains_leftImglist ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mains .mains_left .mains_leftImg .mains_leftImglist ul li span {
  display: inline-block;
  width: 45%;
  height: 205px;
  text-align: center;
}

.mains .mains_left .mains_leftImg .mains_leftImglist ul li span small {
  display: inline-block;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.mains .mains_left .mains_leftImg .mains_leftImglist ul li span small a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.mains .mains_left .mains_leftImg .mains_leftImglist ul li span i {
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;
  margin: 5px 0;
}

.mains .mains_left .mains_leftImg .mains_leftImglist div {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  background-color: #1d9f96;
  cursor: pointer;
}

.mains .mains_left .mains_leftYxys {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysNav {
  width: 100%;
  height: 45px;
  line-height: 45px;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysNav span {
  font-size: 18px;
  color: #764f76;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysNav i {
  float: right;
  font-size: 14px;
  color: #764f76;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-top: 3px solid #e99605;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox .mains_leftYxysBoxlist {
  width: 100%;
  display: flex;
  justify-content: left;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox .mains_leftYxysBoxlist span {
  display: inline-block;
  position: relative;
  width: 35%;
  height: 65px;
  text-align: center;
  overflow: hidden;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox .mains_leftYxysBoxlist span a, .mains .mains_left .mains_leftYxys .mains_leftYxysBox .mains_leftYxysBoxlist span img {
  width: 100%;
  height: 100%;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox .mains_leftYxysBoxlist span i {
  display: inline-block;
  position: absolute;
  left: 7px;
  top: 38px;
  width: 20px;
  height: 20px;
  background-image: url(../images/glx_leftBGspimg.png);
  background-repeat: no-repeat;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox .mains_leftYxysBoxlist span p {
  display: inline-block;
  font-size: 14px;
  color: #666;
  line-height: 20px;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox .mains_leftYxysBoxlist span p:hover {
  color: #ff8400;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox .mains_leftYxysBoxlist span small {
  display: inline-block;
  width: 60%;
  padding: 5px 10px;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  background-color: #ff8400;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox .mains_leftYxysBoxlist span small:hover {
  opacity: 0.8;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox ul {
  width: 100%;
  margin-top: 20px;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox ul li {
  width: 100%;
  line-height: 20px;
  margin: 10px 0;
  font-size: 16px;
  color: #2b2b2b;
  padding-left: 20px;
  box-sizing: border-box;
  background-image: url(../images/glx_LeftBGtgimg.gif);
  background-repeat: no-repeat;
  background-position: left center;
}

.mains .mains_left .mains_leftYxys .mains_leftYxysBox ul li:hover {
  color: #ff8400;
}

.mains .mains_right {
  float: right;
  width: 74%;
}

.mains .mains_right .mains_rightTime {
  width: 100%;
}

.mains .mains_right .mains_rightTime .mains_rightTime_nav {
  width: 100%;
  overflow: hidden;
}

.mains .mains_right .mains_rightTime .mains_rightTime_nav ul {
  width: 100%;
  overflow: hidden;
}

.mains .mains_right .mains_rightTime .mains_rightTime_nav ul li {
  float: left;
  height: 55px;
  line-height: 55px;
  width: 90px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #696868;
  border: 1px solid #ccc;
  border-right: none;
  border-bottom: none;
}

.mains .mains_right .mains_rightTime .mains_rightTime_nav ul li:nth-last-child(1) {
  border-right: 1px solid #ccc;
}

.mains .mains_right .mains_rightTime .mains_rightTime_nav ul li:nth-child(1) {
  color: #333;
  border: 2px solid #ff8400;
  border-bottom: none;
}

.mains .mains_right .mains_rightTime .mains_rightTime_conten {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ff8400;
}

.mains .mains_right .mains_rightTime .mains_rightTime_conten span {
  display: block;
  overflow: hidden;
  margin: 10px;
}

.mains .mains_right .mains_rightTime .mains_rightTime_conten span b {
  float: left;
  width: 8%;
  font-size: 16px;
  color: #333;
  height: 22px;
  line-height: 22px;
}

.mains .mains_right .mains_rightTime .mains_rightTime_conten span ol {
  display: inline-block;
  width: 80%;
}

.mains .mains_right .mains_rightTime .mains_rightTime_conten span ol li {
  float: left;
  color: #414141;
  padding: 0 10px;
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.mains .mains_right .mains_rightTime .mains_rightTime_conten span ol li:nth-child(1) {
  background-color: #ff8400;
  color: white;
}

.mains .mains_right .mains_rightTime .mains_rightTime_conten span ol li:hover {
  background-color: #ff8400;
  color: white;
}

.mains .mains_right .mains_rightTime .mains_rightTime_conten span input {
  float: left;
  position: relative;
  width: 160px;
  height: 22px;
  margin-top: 3px;
  border: 1px solid #717e8e;
  background-image: url(../images/glx_topnoverBGimg.png);
  background-repeat: no-repeat;
  background-position: 136px -26px;
}

.mains .mains_right .mains_rightTime .mains_rightTime_conten span button {
  float: left;
  height: 22px;
  line-height: 2px;
  padding: 14px;
  font-size: 16px;
  margin: 0 10px;
  color: whitesmoke;
  border-radius: 8px;
  background-color: #717e8e;
  border: none;
}

.mains .mains_right .mains_rightTime .mains_rightTime_conten span s {
  float: left;
  font-size: 16px;
  color: #2b2b2b;
  margin: 7px 5px;
}

.mains .mains_right .mains_rightBgimg {
  width: 100%;
  height: 34px;
  margin-top: 15px;
  background-image: url(../images/glx_topnoverBGimg.png);
  background-repeat: no-repeat;
  background-position: -120px -306px;
}

.mains .mains_right .mains_rightlistNav {
  width: 100%;
}

.mains .mains_right .mains_rightlistNav ul {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-top: 3px solid #717e8e;
}

.mains .mains_right .mains_rightlistNav ul li {
  float: left;
  font-size: 18px;
  color: #767676;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-left: none;
}

.mains .mains_right .mains_rightlistNav ul li:hover {
  color: #f6b309;
  border-bottom: none;
}

.mains .mains_right .mains_rightlistNav ul li:nth-child(1) {
  color: #f0ede8;
  font-size: 20px;
  border: none;
  padding: 0 21.5px;
  background-color: #717e8e;
  border: 1px solid #717e8e;
}

.mains .mains_right .mains_rightlistNav ul .ulhover {
  color: #f6b309;
  border-bottom: none;
}

.mains .mains_right .mains_rightlistBox {
  width: 100%;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS {
  display: none;
  width: 100%;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS:nth-child(1) {
  display: block;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList:hover {
  border: 2px solid #ff8400;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList a {
  float: left;
  width: 35%;
  height: 180px;
  overflow: hidden;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList a img {
  width: 100%;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList span {
  position: relative;
  float: right;
  width: 64%;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList span a {
  width: 100%;
  height: 60px;
  font-size: 16px;
  color: #66667f;
  line-height: 28px;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList span a:hover {
  color: #ff8400;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList span a s {
  display: inline-block;
  font-size: 14px;
  color: white;
  padding: 0 5px;
  margin: 0 5px;
  height: 20px;
  line-height: 20px;
  background-color: #1b5583;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList span p {
  width: 100%;
  font-size: 14px;
  color: red;
  line-height: 20px;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList span small {
  display: block;
  font-size: 14px;
  color: #6f6f6f;
  margin-top: 20px;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList span small:nth-child(3) {
  margin-top: 50px;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList span span {
  position: absolute;
  bottom: 0;
  right: 30px;
  width: 100px;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList span span small i {
  font-size: 13px;
  color: #ff6600;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList span span small b {
  display: inline-block;
  margin: 2px 5px;
  font-size: 24px;
  color: #ff6600;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList span span button {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 15px;
  background-color: #ff8400;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList div {
  float: left;
  width: 100%;
  height: 45px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList div span {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList div span small {
  font-size: 14px;
  color: #2b2b2b;
  margin: 0;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList div span b, .mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList div span i {
  display: inline-block;
  font-size: 14px;
  color: #2b2b2b;
  height: 25px;
  line-height: 25px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
}

.mains .mains_right .mains_rightlistBox .mains_rightBoxS .mains_rightList div span select {
  height: 20px;
  line-height: 20px;
  color: #414141;
  border: 1px solid #ccc;
}

footer {
  overflow: hidden;
  margin-top: 50px;
}

footer .footer_boton {
  width: 100%;
  background-color: #3c3c3c;
}

footer .footer_boton .footer_botonlst2 {
  width: 100%;
  height: 200px;
  border-top: 1px solid #949191;
  border-bottom: 1px solid #949191;
  display: flex;
  align-items: center;
}

footer .footer_boton .footer_botonlst2 span {
  float: left;
}

footer .footer_boton .footer_botonlst2 span:nth-child(2) {
  float: right;
  width: 70%;
}

footer .footer_boton .footer_botonlst2 span:nth-child(2) h3 {
  float: left;
  width: 140px;
  height: 100%;
  line-height: 30px;
  text-align: center;
  color: #ffba00;
  font-size: 15px;
}

footer .footer_boton .footer_botonlst2 span:nth-child(2) img {
  width: 80px;
}

footer .footer_boton .footer_botonlst2 span p {
  display: inline-block;
  width: 100%;
  line-height: 24px;
  color: #bbb;
}

footer .footer_boton .footer_botonlst2 span p a {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #bbb;
}

footer .footer_boton .footer_botonlst2 span p a:hover {
  color: white;
}

footer .footer_boton .footer_botonlst3 {
  width: 100%;
  height: 215px;
}

footer .footer_boton .footer_botonlst3 span {
  display: inline-block;
  margin-top: 40px;
  width: 60%;
}

footer .footer_boton .footer_botonlst3 span a {
  display: inline-block;
  margin-right: 6px;
}

footer .footer_boton .footer_botonlst3 span a i {
  display: inline-block;
  width: 116px;
  height: 47px;
  background-image: url(../images/footer_lastimg1.jpg);
  background-repeat: no-repeat;
  background-position: -133px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(2) i {
  background-position: -253px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(3) i {
  background-position: -375px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(4) i {
  background-image: url(../images/footer_lastimg2.png);
  background-position: 0 0;
  background-size: cover;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(5) i {
  background-position: -495 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(6) i {
  width: 54px;
  background-position: -611px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(7) i {
  width: 49px;
  background-position: -671px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(8) i {
  background-image: url(../images/footer_lastimg3.png);
  background-position: 0 0;
  background-size: cover;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(9) i {
  margin-top: 6px;
  background-position: 0 0;
}

.right_flex {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: #2b2b2b;
  z-index: 2;
}

.right_flex ul {
  position: absolute;
  right: 0;
  top: 10%;
  width: 100%;
}

.right_flex ul li {
  position: relative;
  width: 100%;
  height: 40px;
  float: left;
  border-top: 1px solid #ccc;
  background-image: url(../images/right_fleximg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.right_flex ul li span {
  display: inline-block;
  display: none;
  position: absolute;
  left: -92px;
  top: 0;
  height: 100%;
  width: 90px;
  line-height: 40px;
  text-align: center;
  color: #e99605;
  font-size: 14px;
  background-color: #333333;
  border-left: 2px solid #ff9d00;
}

.right_flex ul li i {
  display: inline-block;
  display: none;
  position: absolute;
  left: -175px;
  top: -114px;
}

.right_flex ul li:hover span, .right_flex ul li:hover i {
  display: block;
}

.right_flex ul li:nth-child(1) {
  background-position: 8px -505px;
  height: 115px;
}

.right_flex ul li:nth-child(1):hover {
  background-position: -47px -505px;
}

.right_flex ul li:nth-child(2) {
  background-image: url(../images/right_fleximg2.gif);
  background-position: 10px 10px;
}

.right_flex ul li:nth-child(2):hover {
  background-image: url(../images/right_fleximg.png);
  background-position: -49px -137px;
}

.right_flex ul li:nth-child(3) {
  background-position: 8px -730px;
}

.right_flex ul li:nth-child(3):hover {
  background-position: -50px -730px;
}

.right_flex ul li:nth-child(4) {
  background-position: 8px -374px;
}

.right_flex ul li:nth-child(4):hover {
  background-position: -51px -374px;
}

.right_flex ul li:nth-child(5) {
  background-position: 9px -196px;
}

.right_flex ul li:nth-child(5):hover {
  background-position: -52px -196px;
}

.right_flex ul li:nth-child(6) {
  background-position: 9px -313px;
}

.right_flex ul li:nth-child(6):hover {
  background-position: -51px -313px;
}

.right_flex ul li:nth-child(7) {
  background-position: 8px -257px;
  border-bottom: 1px solid #ccc;
}

.right_flex ul li:nth-child(7):hover {
  background-position: -51px -257px;
}

.right_flex ol {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.right_flex ol li {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  float: left;
  color: #ff9d00;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #ccc;
  background-image: url(../images/right_fleximg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.right_flex ol li span {
  display: inline-block;
  display: none;
  position: absolute;
  left: -92px;
  top: 0;
  height: 100%;
  width: 90px;
  line-height: 40px;
  text-align: center;
  color: #e99605;
  font-size: 14px;
  background-color: #333333;
  border-left: 2px solid #ff9d00;
}

.right_flex ol li i {
  display: inline-block;
  display: none;
  position: absolute;
  left: -175px;
  top: -114px;
}

.right_flex ol li:hover span, .right_flex ol li:hover i {
  display: block;
}

.right_flex ol li:nth-child(1) {
  background-position: 8px -807px;
}

.right_flex ol li:nth-child(1):hover {
  background-position: -49px -807px;
}

.right_flex ol li:nth-child(3) {
  background-position: 10px -439px;
}

.right_flex ol li:nth-child(3):hover {
  background-position: -51px -439px;
}

.botton_new {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.botton_new .botton_newbcimg {
  float: left;
  width: 50%;
  height: 200px;
  background-image: url(../images/newcoupon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.botton_new .botton_new_inputs {
  float: left;
  height: 200px;
  width: 240px;
}

.botton_new .botton_new_inputs span {
  display: block;
  width: 240px;
  height: 40px;
  border-radius: 10px 10px;
  box-sizing: border-box;
  padding: 5px 0;
  overflow: hidden;
  background-color: #ffffff;
}

.botton_new .botton_new_inputs span:nth-child(1) {
  margin-top: 25px;
}

.botton_new .botton_new_inputs span:nth-child(2) {
  margin: 15px 0px;
}

.botton_new .botton_new_inputs span input {
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 16px;
  border: none;
  padding-left: 10px;
  box-sizing: border-box;
}

.botton_new .botton_new_inputs span:nth-child(2) input {
  width: 55%;
  height: 100%;
  color: #333;
  font-size: 16px;
}

.botton_new .botton_new_inputs span:nth-child(2) button {
  height: 100%;
  color: #333;
  font-size: 16px;
  width: 45%;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-left: 1px solid #bbb;
}

.botton_new .botton_new_inputs span:nth-child(3) {
  background-color: #ffd800;
  color: #333;
  font-size: 16px;
  text-align: center;
  line-height: 31px;
  cursor: pointer;
}

.botton_new .botton_new_hidehover {
  float: right;
  overflow: hidden;
  margin-top: 10px;
}

.botton_new .botton_new_hidehover i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/newXX.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.botton_new .botton_new_hidehover i:hover {
  transform: rotate(-145deg);
  transition: 0.5s;
}

.botton_new .botton_new_out {
  position: fixed;
  display: none;
  width: 300px;
  height: 80px;
  line-height: 80px;
  color: #f9fafb;
  font-size: 24px;
  font-weight: lighter;
  border-radius: 12px;
  background-color: #a2a3a3;
  top: 46%;
  left: 40%;
  text-align: center;
}

.left_loge {
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
