body, html {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.topnav {
  width: 100%;
  height: 38px;
  background-color: #2b2b2b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topnav .topnav_left {
  float: left;
  height: 38px;
}

.topnav .topnav_left ul li {
  height: 100%;
  float: left;
}

.topnav .topnav_left ul li a {
  margin: 0 10px;
  color: #bdbdbd;
  font-size: 14px;
  line-height: 38px;
}

.topnav .topnav_left ul li a:hover {
  color: #e9a804;
}

.topnav .topnav_left ul li a img {
  vertical-align: middle;
}

.topnav .topnav_right {
  float: right;
  height: 38px;
}

.topnav .topnav_right ul li {
  position: relative;
  height: 100%;
  float: left;
}

.topnav .topnav_right ul li a {
  margin: 0 13px;
  color: #bdbdbd;
  font-size: 14px;
  line-height: 38px;
}

.topnav .topnav_right ul li a:hover {
  color: #e9a804;
}

.topnav .topnav_right ul li ol {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.topnav .topnav_right ul li ol li {
  width: 100%;
  text-align: center;
  line-height: 24px;
  color: #7f6666;
  font-size: 14px;
  background-color: whitesmoke;
}

.topnav .topnav_right ul li ol li:hover {
  background-color: #f3ef17;
}

.topnav .topnav_right ul li:nth-child(3):hover {
  background-color: whitesmoke;
}

.topnav .topnav_right ul li:nth-child(3):hover a {
  color: black;
}

.topnav .topnav_right ul li:nth-child(3):hover ol {
  display: block;
}

.topnav .topnav_right ul li img {
  position: absolute;
  left: -50px;
  width: 150px;
  bottom: -150px;
  display: none;
  z-index: 2;
}

.topnav .topnav_right ul li:nth-child(3) a {
  margin: 0 8px;
  padding-right: 10px;
  background-image: url(../images/jt_buttonsht.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.topnav .topnav_right ul li:nth-child(4) a {
  padding-left: 15px;
  background-image: url(../images/sjy.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.topnav .topnav_right ul li:nth-child(5) a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/xcx_code_2.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topnav .topnav_right ul li:nth-child(5):hover a {
  background-image: url(../images/xcx_code_3.png);
}

.topnav .topnav_right ul li:nth-child(6) a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/wb.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topnav .topnav_right ul li:nth-child(7) a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/wx.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topnav .topnav_right ul li:nth-child(7):hover a {
  display: inline-block;
  width: 20px;
  height: 38px;
  background-image: url(../images/wxy.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.topseach {
  width: 100%;
  height: 150px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #414141;
  border-top: 1px solid #414141;
}

.topseach .topseach_left {
  height: 100%;
  float: left;
}

.topseach .topseach_right {
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topseach .topseach_right div {
  display: inline-block;
}

.topseach .topseach_right div:nth-child(1) {
  position: relative;
  margin-right: 20px;
}

.topseach .topseach_right div:nth-child(1) a {
  padding: 0 13px;
  color: #dab508;
  font-size: 18px;
  border: none;
  background-color: #333333;
  background-image: url(../images/jt_button.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.topseach .topseach_right div:nth-child(1) ul {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 3;
}

.topseach .topseach_right div:nth-child(1) ul li {
  background-color: white;
  line-height: 30px;
  font-size: 14px;
  color: #272424;
  text-align: center;
}

.topseach .topseach_right div:nth-child(1) ul li:hover {
  background-color: #dab508;
  color: white;
}

.topseach .topseach_right div:nth-child(2) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  border: 2px solid #dab508;
}

.topseach .topseach_right div:nth-child(2) > div {
  position: relative;
}

.topseach .topseach_right div:nth-child(2) > div a {
  padding: 0 15px;
  color: #ccc;
  font-size: 18px;
  line-height: 45px;
  background-image: url(../images/jt_buttonsht.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.topseach .topseach_right div:nth-child(2) > div ul {
  position: absolute;
  left: 0;
  bottom: -210px;
  display: none;
  width: 75px;
  z-index: 3;
}

.topseach .topseach_right div:nth-child(2) > div ul li {
  background-color: white;
  line-height: 30px;
  font-size: 14px;
  color: #221d1d;
  text-align: center;
}

.topseach .topseach_right div:nth-child(2) > div ul li:hover {
  background-color: #dab508;
  color: white;
}

.topseach .topseach_right div:nth-child(2) input {
  width: 465px;
  height: 100%;
  border: none;
  font-size: 18px;
  color: white;
  margin-left: 10px;
  background-color: #333333;
}

.topseach .topseach_right div:nth-child(2) button {
  height: 100%;
  width: 160px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  background-color: #dab508;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus {
  display: none;
  position: absolute;
  left: -22px;
  bottom: -223px;
  width: 563px;
  height: 222px;
  padding: 5px;
  padding-left: 20px;
  background-color: #f8f8f8;
  z-index: 3;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span {
  display: inline-block;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span b {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 10px 0;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span p {
  margin: 10px 0;
}

.topseach .topseach_right div:nth-child(2) .topseach_right_focus span p a {
  float: left;
  padding: 0;
  margin-right: 10px;
  font-size: 14px;
  color: #414141;
  line-height: 20px;
  background-image: none;
}

.topseach .topseach_right div:nth-child(3) {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 45px;
  margin-left: 20px;
}

.topseach .topseach_right div:nth-child(3) p {
  color: #bdbdbd;
  font-size: 14px;
}

.topseach .topseach_right div:nth-child(3) i {
  float: left;
  margin-top: 9px;
  color: #dab508;
  font-size: 20px;
}

.topseach .topseach_right div:nth-child(3) img {
  position: absolute;
  bottom: -63px;
  right: -98px;
  z-index: 2;
  -webkit-animation: topseach_rightimg 3s linear 2s infinite alternate;
          animation: topseach_rightimg 3s linear 2s infinite alternate;
}

@-webkit-keyframes topseach_rightimg {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  45% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes topseach_rightimg {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  45% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

.topnavlist {
  position: relative;
  width: 100%;
  height: 65px;
  background-color: #1f1f1f;
}

.topnavlist .topnavlist_nav {
  height: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topnavlist .topnavlist_nav #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topnavlist .topnavlist_nav #nav ul.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item:nth-child(4) a {
  color: #f1cc10;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item a i {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-image: url(../images/jt_buttonsht.png);
  background-repeat: no-repeat;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item > a {
  display: block;
  text-align: center;
  line-height: 65px;
  font-size: 18px;
  color: #f1f4f1;
  position: relative;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item:hover > a,
.topnavlist .topnavlist_nav #nav ul.nav li.nav-item.active > a {
  color: #f1cc10;
}

.topnavlist .topnavlist_nav #nav ul.nav li.nav-item:hover > a::before,
.topnavlist .topnavlist_nav #nav ul.nav li.nav-item.active > a::before {
  display: block;
}

.zyx {
  width: 100%;
}

.zyx .zyleft_name {
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.zyx .zyxleft {
  position: relative;
  width: 25%;
  float: left;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #ff9d00;
}

.zyx .zyxleft .zyxleft_list {
  width: 100%;
  float: left;
  height: 105px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px dashed #bbb;
}

.zyx .zyxleft .zyxleft_list:nth-last-child(1) {
  border: none;
}

.zyx .zyxleft .zyxleft_list span {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.zyx .zyxleft .zyxleft_list span small {
  display: inline-block;
  color: #6e6a6a;
  font-size: 16px;
}

.zyx .zyxleft .zyxleft_list span i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/zyxleftimg2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.zyx .zyxleft .zyxleft_list ul {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zyx .zyxleft .zyxleft_list ul li {
  float: left;
  font-size: 14px;
  color: #6e6a6a;
  margin-right: 25px;
}

.zyx .zyxleft .zyxleft_list .zyxleft_hover {
  position: absolute;
  right: -365px;
  top: -1px;
  display: none;
  width: 365px;
  padding: 0 25px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.83);
  z-index: 2;
}

.zyx .zyxleft .zyxleft_list .zyxleft_hover span {
  display: inline-block;
  width: 100%;
}

.zyx .zyxleft .zyxleft_list .zyxleft_hover span h4 {
  width: 100%;
  line-height: 40px;
  color: white;
  font-size: 16px;
  border-bottom: 1px solid #bdbdbd;
}

.zyx .zyxleft .zyxleft_list .zyxleft_hover span p {
  width: 100%;
}

.zyx .zyxleft .zyxleft_list .zyxleft_hover span p a {
  display: inline-block;
  color: white;
  font-size: 14px;
  margin-top: 15px;
  margin-right: 10px;
}

.zyx .zyxleft .zyxleft_list .zyxleft_hover span p a:hover {
  color: #ffa011;
}

.zyx .zyxleft .zyxleft_list:hover {
  background-color: rgba(0, 0, 0, 0.83);
}

.zyx .zyxleft .zyxleft_list:hover small, .zyx .zyxleft .zyxleft_list:hover ul li {
  color: white;
}

.zyx .zyxleft .zyxleft_list:hover span i {
  background-image: url(../images/zyxleftimg1.png);
}

.zyx .zyxleft .zyxleft_list:hover ul li:hover {
  color: #ffa011;
}

.zyx .zyxleft .zyxleft_list:hover .zyxleft_hover {
  display: block;
}

.zyx .zyxright {
  float: right;
  width: 75%;
  height: 422px;
  overflow: hidden;
}

.zyx .zyxright .swiper-container {
  width: 100%;
  height: 100%;
}

.zyx .zyxright .swiper-container .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

.zyx .zyxright .swiper-container .swiper-button-prev::after, .zyx .zyxright .swiper-container .swiper-button-next::after {
  content: none;
}

.zyx .zyxright .swiper-container .swiper-button-prev {
  left: 60px;
}

.zyx .zyxright .swiper-container .swiper-button-next {
  right: 60px;
}

.zyx .zyxright .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border: 1px solid white;
}

.zyx .zyxright .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffcc00;
}

.ztyw {
  width: 100%;
}

.ztyw .ztyw_nav {
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.ztyw .ztyw_nav i {
  float: right;
  font-size: 16px;
  cursor: pointer;
}

.ztyw .ztyw_nav i:hover {
  color: #f3c017;
}

.ztyw .ztyw_nav ul {
  float: right;
  margin-top: 30px;
}

.ztyw .ztyw_nav ul li {
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  margin-right: 45px;
  color: #535252;
  cursor: pointer;
  border-bottom: none;
}

.ztyw .ztyw_nav ul li:hover {
  color: #f3c017;
}

.ztyw .ztyw_nav ul .ulhover {
  color: #f3c017;
  border-bottom: 2px solid #f3c017;
}

.ztyw .ztyw_nav span {
  float: left;
  padding-left: 20px;
  font-size: 24px;
  color: #474646;
}

.ztyw .ztyw_itmeBok {
  width: 100%;
  overflow: hidden;
}

.ztyw .ztyw_itmeBok .ztyw_itme {
  width: 100%;
  overflow: hidden;
  display: none;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop {
  width: 100%;
  height: 355px;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_left {
  position: relative;
  width: 49%;
  height: 100%;
  float: left;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_left a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_left a img {
  width: 100%;
  height: 100%;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_left a div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_left a div h4 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: normal;
  color: #fdfdfd;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_left a div span {
  display: inline-block;
  width: 100%;
  padding: 0;
  height: 30px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f3c017;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_left a div span b {
  display: inline-block;
  margin: 0 5px;
  font-size: 20px;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_left a div span i {
  float: right;
  color: #ffffff;
  font-size: 14px;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_left:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 249, 249, 0.3);
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_right {
  width: 50%;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_right .ztywTop_list {
  position: relative;
  float: left;
  width: 49%;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_right .ztywTop_list a {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_right .ztywTop_list a img {
  display: inline-block;
  width: 100%;
  height: 60%;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_right .ztywTop_list a div {
  height: 40%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_right .ztywTop_list a div h4 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: normal;
  color: #3b3737;
  font-size: 18px;
  height: 60px;
  line-height: 30px;
  overflow: hidden;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_right .ztywTop_list a div span {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fac001;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_right .ztywTop_list a div span b {
  display: inline-block;
  margin: 0 5px;
  font-size: 20px;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_right .ztywTop_list a div span i {
  float: right;
  color: #312f2f;
  font-size: 14px;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_right .ztywTop_list:hover {
  -webkit-box-shadow: 0px 5px 1.5px #dbdada;
          box-shadow: 0px 5px 1.5px #dbdada;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywTop .ztywTop_right .ztywTop_list:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 249, 249, 0.3);
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont {
  height: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_left, .ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_left .ztywBont_list, .ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right .ztywBont_list {
  position: relative;
  width: 49%;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_left .ztywBont_list a, .ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right .ztywBont_list a {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_left .ztywBont_list a img, .ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right .ztywBont_list a img {
  display: inline-block;
  width: 100%;
  height: 60%;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_left .ztywBont_list a div, .ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right .ztywBont_list a div {
  height: 40%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_left .ztywBont_list a div h4, .ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right .ztywBont_list a div h4 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: normal;
  color: #3b3737;
  font-size: 18px;
  height: 60px;
  line-height: 30px;
  overflow: hidden;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_left .ztywBont_list a div span, .ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right .ztywBont_list a div span {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fac001;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_left .ztywBont_list a div span b, .ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right .ztywBont_list a div span b {
  display: inline-block;
  margin: 0 5px;
  font-size: 20px;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_left .ztywBont_list a div span i, .ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right .ztywBont_list a div span i {
  float: right;
  color: #312f2f;
  font-size: 14px;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_left .ztywBont_list:hover, .ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right .ztywBont_list:hover {
  -webkit-box-shadow: 0px 5px 1.5px #dbdada;
          box-shadow: 0px 5px 1.5px #dbdada;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_left .ztywBont_list:hover::after, .ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right .ztywBont_list:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 249, 249, 0.3);
}

.ztyw .ztyw_itmeBok .ztyw_itme .ztywBont .ztywBont_right {
  width: 50%;
}

.ztyw .ztyw_itmeBok .ztyw_itme:nth-child(1) {
  display: block;
}

footer {
  overflow: hidden;
  margin-top: 50px;
}

footer .footer_boton {
  width: 100%;
  background-color: #3c3c3c;
}

footer .footer_boton .footer_botonlst2 {
  width: 100%;
  height: 200px;
  border-top: 1px solid #949191;
  border-bottom: 1px solid #949191;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_boton .footer_botonlst2 span {
  float: left;
}

footer .footer_boton .footer_botonlst2 span:nth-child(2) {
  float: right;
  width: 70%;
}

footer .footer_boton .footer_botonlst2 span:nth-child(2) h3 {
  float: left;
  width: 140px;
  height: 100%;
  line-height: 30px;
  text-align: center;
  color: #ffba00;
  font-size: 15px;
}

footer .footer_boton .footer_botonlst2 span:nth-child(2) img {
  width: 80px;
}

footer .footer_boton .footer_botonlst2 span p {
  display: inline-block;
  width: 100%;
  line-height: 24px;
  color: #bbb;
}

footer .footer_boton .footer_botonlst2 span p a {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #bbb;
}

footer .footer_boton .footer_botonlst2 span p a:hover {
  color: white;
}

footer .footer_boton .footer_botonlst3 {
  width: 100%;
  height: 215px;
}

footer .footer_boton .footer_botonlst3 span {
  display: inline-block;
  margin-top: 40px;
  width: 60%;
}

footer .footer_boton .footer_botonlst3 span a {
  display: inline-block;
  margin-right: 6px;
}

footer .footer_boton .footer_botonlst3 span a i {
  display: inline-block;
  width: 116px;
  height: 47px;
  background-image: url(../images/footer_lastimg1.jpg);
  background-repeat: no-repeat;
  background-position: -133px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(2) i {
  background-position: -253px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(3) i {
  background-position: -375px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(4) i {
  background-image: url(../images/footer_lastimg2.png);
  background-position: 0 0;
  background-size: cover;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(5) i {
  background-position: -495 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(6) i {
  width: 54px;
  background-position: -611px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(7) i {
  width: 49px;
  background-position: -671px 0;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(8) i {
  background-image: url(../images/footer_lastimg3.png);
  background-position: 0 0;
  background-size: cover;
}

footer .footer_boton .footer_botonlst3 span a:nth-child(9) i {
  margin-top: 6px;
  background-position: 0 0;
}

.tip {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  position: fixed;
  left: 100px;
  bottom: 33%;
  background: #ffffff;
  display: none;
}

.tip ul {
  width: 100%;
}

.tip ul li {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  color: #888585;
  border-bottom: 1px dashed #dbd6d6;
  cursor: pointer;
}

.tip ol {
  width: 100%;
}

.tip ol li {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  color: #888585;
  border-bottom: 1px dashed #dbd6d6;
  cursor: pointer;
}

.tip .current {
  color: #fab804;
}

.right_flex {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: #2b2b2b;
  z-index: 2;
}

.right_flex ul {
  position: absolute;
  right: 0;
  top: 10%;
  width: 100%;
}

.right_flex ul li {
  position: relative;
  width: 100%;
  height: 40px;
  float: left;
  border-top: 1px solid #ccc;
  background-image: url(../images/right_fleximg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.right_flex ul li span {
  display: inline-block;
  display: none;
  position: absolute;
  left: -92px;
  top: 0;
  height: 100%;
  width: 90px;
  line-height: 40px;
  text-align: center;
  color: #e99605;
  font-size: 14px;
  background-color: #333333;
  border-left: 2px solid #ff9d00;
}

.right_flex ul li i {
  display: inline-block;
  display: none;
  position: absolute;
  left: -175px;
  top: -114px;
}

.right_flex ul li:hover span, .right_flex ul li:hover i {
  display: block;
}

.right_flex ul li:nth-child(1) {
  background-position: 8px -505px;
  height: 115px;
}

.right_flex ul li:nth-child(1):hover {
  background-position: -47px -505px;
}

.right_flex ul li:nth-child(2) {
  background-image: url(../images/right_fleximg2.gif);
  background-position: 10px 10px;
}

.right_flex ul li:nth-child(2):hover {
  background-image: url(../images/right_fleximg.png);
  background-position: -49px -137px;
}

.right_flex ul li:nth-child(3) {
  background-position: 8px -730px;
}

.right_flex ul li:nth-child(3):hover {
  background-position: -50px -730px;
}

.right_flex ul li:nth-child(4) {
  background-position: 8px -374px;
}

.right_flex ul li:nth-child(4):hover {
  background-position: -51px -374px;
}

.right_flex ul li:nth-child(5) {
  background-position: 9px -196px;
}

.right_flex ul li:nth-child(5):hover {
  background-position: -52px -196px;
}

.right_flex ul li:nth-child(6) {
  background-position: 9px -313px;
}

.right_flex ul li:nth-child(6):hover {
  background-position: -51px -313px;
}

.right_flex ul li:nth-child(7) {
  background-position: 8px -257px;
  border-bottom: 1px solid #ccc;
}

.right_flex ul li:nth-child(7):hover {
  background-position: -51px -257px;
}

.right_flex ol {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.right_flex ol li {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  float: left;
  color: #ff9d00;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #ccc;
  background-image: url(../images/right_fleximg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.right_flex ol li span {
  display: inline-block;
  display: none;
  position: absolute;
  left: -92px;
  top: 0;
  height: 100%;
  width: 90px;
  line-height: 40px;
  text-align: center;
  color: #e99605;
  font-size: 14px;
  background-color: #333333;
  border-left: 2px solid #ff9d00;
}

.right_flex ol li i {
  display: inline-block;
  display: none;
  position: absolute;
  left: -175px;
  top: -114px;
}

.right_flex ol li:hover span, .right_flex ol li:hover i {
  display: block;
}

.right_flex ol li:nth-child(1) {
  background-position: 8px -807px;
}

.right_flex ol li:nth-child(1):hover {
  background-position: -49px -807px;
}

.right_flex ol li:nth-child(3) {
  background-position: 10px -439px;
}

.right_flex ol li:nth-child(3):hover {
  background-position: -51px -439px;
}

.botton_new {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.botton_new .botton_newbcimg {
  float: left;
  width: 50%;
  height: 200px;
  background-image: url(../images/newcoupon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.botton_new .botton_new_inputs {
  float: left;
  height: 200px;
  width: 240px;
}

.botton_new .botton_new_inputs span {
  display: block;
  width: 240px;
  height: 40px;
  border-radius: 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 0;
  overflow: hidden;
  background-color: #ffffff;
}

.botton_new .botton_new_inputs span:nth-child(1) {
  margin-top: 25px;
}

.botton_new .botton_new_inputs span:nth-child(2) {
  margin: 15px 0px;
}

.botton_new .botton_new_inputs span input {
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 16px;
  border: none;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.botton_new .botton_new_inputs span:nth-child(2) input {
  width: 55%;
  height: 100%;
  color: #333;
  font-size: 16px;
}

.botton_new .botton_new_inputs span:nth-child(2) button {
  height: 100%;
  color: #333;
  font-size: 16px;
  width: 45%;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-left: 1px solid #bbb;
}

.botton_new .botton_new_inputs span:nth-child(3) {
  background-color: #ffd800;
  color: #333;
  font-size: 16px;
  text-align: center;
  line-height: 31px;
  cursor: pointer;
}

.botton_new .botton_new_hidehover {
  float: right;
  overflow: hidden;
  margin-top: 10px;
}

.botton_new .botton_new_hidehover i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/newXX.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.botton_new .botton_new_hidehover i:hover {
  -webkit-transform: rotate(-145deg);
          transform: rotate(-145deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.botton_new .botton_new_out {
  position: fixed;
  display: none;
  width: 300px;
  height: 80px;
  line-height: 80px;
  color: #f9fafb;
  font-size: 24px;
  font-weight: lighter;
  border-radius: 12px;
  background-color: #a2a3a3;
  top: 46%;
  left: 40%;
  text-align: center;
}

.left_loge {
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
/*# sourceMappingURL=zyx.css.map */